@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
	overflow: hidden;
}
.btn {
    display: inline-block;
    min-width: 110px;
    padding: 8px 8px 8px;
    font: 700 12px/1 'Open Sans', sans-serif;
    border-radius: 15px;
    box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);
}

.slider {
    -webkit-appearance: none;
    padding-left: 7px;
    width: 98.5%;
    height: 15px;
    border-radius: 10px;
    background-color: antiquewhite;
    outline: none;
    opacity: 0.8;
    display: flex;
    flex: auto;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border-color: white;
}

span {
    display: none;
}

gruppe {
    position: absolute;
    left: 40%;
    top: 5%;
}


#blueSolution {
    background-color: royalblue;
    color: white;
    font-size: 16px;
    font-family: inherit;
}

#redSolution {
    background-color: red;
    color: white;
    font-size: 16px;
    font-family: inherit;
}

#greenSolution {
    background-color: limegreen;
    color: white;
    font-size: 16px;
    font-family: inherit;
}

#nickName {
    position: absolute;
    left: 45%;
    top: 20%;
    font-family: Sylfaen;
    font-size: 25px;
    background: 5px;
    background-color: antiquewhite;
    border-radius: 40px;
    padding: 5px 10px;
}

#groupAllocation {
    position: absolute;
    left: 47%;
    top: 55%;
    font-size: 20px;
}

YG {
    position: absolute;
    left: 15%;
}

.button {
    font-family: Verdana;
    background-color: limegreen;
    color: white;
    border-color: black;
    border-style: double dotted;
    border-width: 2px;
    border-radius: 15px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.addScore {
    font-family: Verdana;
    background-color: limegreen;
    color: white;
    border-color: black;
    border-style: double dotted;
    border-width: 3px;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    flex-wrap: nowrap;
    position: absolute;
    top: 80%;
    left: 46.2%;
}

.mainContainer {
    flex-direction: column;
    display: flex;
    height: 100vh;
}

.rowContainer {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.columnContainer {
    flex-direction: column;
    display: flex;
}

.mainPart {
    flex-grow: 1;
    flex-basis: auto;
}

.part {
    flex-grow: 1;
    flex-basis: auto;
}

.container1 {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 15%;
    overflow: hidden;
    text-align: center;
    transform: translate(-50%, -50%);
}
.container2 {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 50%;
    overflow: hidden;
    text-align: center;
    transform: translate(-50%, -50%);
}
.container3 {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 85%;
    overflow: hidden;
    text-align: center;
    transform: translate(-50%, -50%);
}

.gauge-a1 {
    z-index: 1;
    position: absolute;
    background-color: white;
    width: 400px;
    height: 200px;
    top: 0%;
    border-radius: 250px 250px 0px 0px;
}

.gauge-b1 {
    z-index: 3;
    position: absolute;
    background-color: #222;
    width: 250px;
    height: 125px;
    top: 75px;
    margin-left: 75px;
    margin-right: auto;
    border-radius: 250px 250px 0px 0px;
}

.gauge-c1 {
    z-index: 2;
    position: absolute;
    background-color: royalblue;
    width: 400px;
    height: 200px;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 200px 200px;
    transform-origin: center top;
    transition: all 1.3s ease-in-out;
}
.gauge-a2 {
    z-index: 1;
    position: absolute;
    background-color: white;
    width: 400px;
    height: 200px;
    top: 0%;
    border-radius: 250px 250px 0px 0px;
}

.gauge-b2 {
    z-index: 3;
    position: absolute;
    background-color: #222;
    width: 250px;
    height: 125px;
    top: 75px;
    margin-left: 75px;
    margin-right: auto;
    border-radius: 250px 250px 0px 0px;
}

.gauge-c2 {
    z-index: 2;
    position: absolute;
    background-color: red;
    width: 400px;
    height: 200px;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 200px 200px;
    transform-origin: center top;
    transition: all 1.3s ease-in-out;
}
.gauge-a3 {
    z-index: 1;
    position: absolute;
    background-color: white;
    width: 400px;
    height: 200px;
    top: 0%;
    border-radius: 250px 250px 0px 0px;
}

.gauge-b3 {
    z-index: 3;
    position: absolute;
    background-color: #222;
    width: 250px;
    height: 125px;
    top: 75px;
    margin-left: 75px;
    margin-right: auto;
    border-radius: 250px 250px 0px 0px;
}

.gauge-c3 {
    z-index: 2;
    position: absolute;
    background-color: limegreen;
    width: 400px;
    height: 200px;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 200px 200px;
    transform-origin: center top;
    transition: all 1.3s ease-in-out;
}

body:hover .gauge-data1 {
    color: royalblue;
}
body:hover .gauge-data2 {
    color: red;
}
body:hover .gauge-data3 {
    color: limegreen;
}

.gauge-data1 {
    z-index: 4;
    color: #222;
    font-size: 1.5em;
    line-height: 25px;
    position: absolute;
    width: 400px;
    height: 200px;
    top: 90px;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s ease-out;
}
.gauge-data2 {
    z-index: 4;
    color: #222;
    font-size: 1.5em;
    line-height: 25px;
    position: absolute;
    width: 400px;
    height: 200px;
    top: 90px;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s ease-out;
    opacity: .8;
}
.gauge-data3 {
    z-index: 4;
    color: #222;
    font-size: 1.5em;
    line-height: 25px;
    position: absolute;
    width: 400px;
    height: 200px;
    top: 90px;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s ease-out;
    opacity: .8;
}
#textColorBlue {
    color: royalblue;
}
#textColorRed {
    color: red;
}
#textColorGreen {
    color: limegreen;
}