body {
    padding: 10%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.button {
    font-family: Verdana;
    background-color: limegreen;
    color: white;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 40px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    flex-wrap: nowrap;
}

.container {
    justify-content: center;
    margin: 10px;
}
#rbgNumber {
    margin-top: 30px;
}

.list {
    border: solid black 2px;
    display: inline-block;
    white-space: nowrap;
    padding: 2px;
    width: 300px;
    display: table;
}

    .list input {
        box-sizing: border-box;
        outline: 0;
        width: 100%;
        text-align: center;
    }

.rbgBox {
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    justify-content: center;
}

#redScore {
    border: 2px red solid;
    display: flex;
    flex-wrap: wrap;
}

#blueScore {
    border: 2px deepskyblue solid;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#greenScore {
    border: 2px limegreen solid;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#ages {
    border: 2px black solid;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#sexes {
    border: 2px pink solid;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#nickName {
    border: 2px orange solid;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#editableDiv {
    height: 50px;
}

/* Dropdown Button */
.dropbtn {
    flex-wrap: wrap;
    background-color: white;
    color: #737373;
    padding: 2px 120px;
    width: 100%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 1px solid grey;
}

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: lightgray;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #808080;
    min-width: 267px;
    height: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        background-color: lightgray;
        color: black;
        padding: 7px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: whitesmoke;
        }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}