body {
    padding: 10%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.button {
    font-family: Verdana;
    background-color: limegreen;
    color: white;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 40px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    flex-wrap: nowrap;
}

.container {
    justify-content: center;
    margin: 10px;
}
#rbgNumber {
    margin-top: 30px;
}

.list {
    border: solid black 2px;
    display: inline-block;
    white-space: nowrap;
    padding: 2px;
    width: 300px;
    display: table;
}

    .list input {
        box-sizing: border-box;
        outline: 0;
        width: 100%;
        text-align: center;
    }

.rbgBox {
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    justify-content: center;
}

#redScore {
    border: 2px red solid;
    display: flex;
    flex-wrap: wrap;
}

#blueScore {
    border: 2px deepskyblue solid;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#greenScore {
    border: 2px limegreen solid;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#editableDiv {
    height: 50px;
}
