body {
    padding-top: 500px;
    padding-left: 300px;
    margin: 0;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: Verdana;
    background-color: limegreen;
    color: white;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 40px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

div1 {
    flex: auto;

}

div2 {
    flex: auto;
}

div3 {
    flex: auto;
}
