@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  background: #eee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





.btn {
  display: inline-block;
  min-width: 110px;
  padding: 8px 8px 8px;
  font: 700 12px/1 'Open Sans', sans-serif;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn.sec {
  color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  background: #fff;
}



.btn.pri {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.set.blue .btn.pri {
  background: #59d;
}

.set.green .btn.pri {
  background: #6b6;
}

.set.red .btn.pri {
  background: #d33;
}

.set.black .btn.pri {
  background: #555;
}



.btn.sec.ico,
.btn.pri.ico {
}

.btn.sec.ico:before,
.btn.pri.ico:before {
  display: block;
  width: 30px;
  padding: 10px 0 12px;
  font-family: fontawesome;
  border-radius: 3px 0 0 3px;
  background: rgba(0, 0, 0, 0.15);
}

.btn.sec.ico:before {
  background: rgba(0, 0, 0, 0.08);
}

.set.blue .btn.sec.ico:before {
  content: "";
}

.set.green .btn.sec.ico:before {
  content: "";
}

.set.red .btn.sec.ico:before {
  content: "";
}

.set.black .btn.sec.ico:before {
  content: "";
}

.set.blue .btn.pri.ico:before {
  content: "";
}

.set.green .btn.pri.ico:before {
  content: "";
}

.set.red .btn.pri.ico:before {
  content: "";
}

.set.black .btn.pri.ico:before {
  content: "";
}
